<div class="pet-index-wrapper">
  <div class="pet-container3">
    <div class="row">
      <% @favorite_pets.each do |pet| %>
      
        <div class="col-md-4">
          <div class="pet-index-single">
            <h2 class="pet-author">
              <%= pet.user.name %>
            </h2>
            <%= image_tag pet.image.url %>
            
            <p class="pet-text">
              <%= pet.description %>
            </p>
            <%= link_to favorites_path(pet_id: pet.id), method: :delete, class: 'btn btn-primary rounded-pill' do %>
            <i class="fas fa-paw"> ほしいリストから外す</i>
            <% end %>
           
          </div>
        </div>
      
      <% end %>
    </div>
  </div>
</div>