<div class="comments-wrapper">
  <div class="pet-container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1 class="text-center">コメント</h1>
       
          <%= form_for [@pet, @comment] do |f|  %>
            <%= f.text_field :content, class: "form-control" %>
            
            <%= button_tag :type => "submit", class: 'btn btn-primary rounded-pill' do %>
        　    <i class="fas fa-paw"> コメントする</i>
       　    <% end %>
       　  
       　   
       　    <%= link_to pets_path, class: 'btn btn-primary rounded-pill' do %>
              <i class="fas fa-paw"> 戻る</i>
            <% end %>
           
           
          <% end %>
       
        
      </div>
    </div>
  </div>
</div>
