<div class="pet-index-wrapper" >
  <div class="pet-new-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center text">編集してください</h1>
        <p>※同じ写真の場合は選択し直さなくても大丈夫です</p>
        <%= render "form" %><!--_form.html.erbに書いてるやつ-->
      </div>
    </div>
  </div>
</div>