<div class="top-hero-wrapper" >
  <div class="pet-new-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center text">譲る子の情報を入れてください</h1>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>