<div class="about-wrapper text-left">
  <div class="container top-about-container">
    <div class="jumbotron" style="left: 7vw; right: 7vw">
      <h1 class="display-4">jimopet</h1>
        <p class="lead">地元でペットを譲りたい人と飼いたい人とをつなげるサービスです。<br>犬、猫、鳥、魚など需要と供給さえマッチすればなんでもOK!
        <br>ペットに赤ちゃんができたから譲ろうという方！そして新しくペットが欲しい方！<br>
        <span style="font-family: 'Corben', cursive;">jimopet</span>を使いませんか？</p>
        <hr class="my-4">
          <p>ペットショップでは可愛い子がたくさん揃っており、彼らはたくさんの生活の豊かさや癒しを与えてくれます。しかし、その裏には売れ残った子たちへの殺処分、飼い主の勝手な都合により飼育放棄される子など残酷な現実も少なくありません。動物を「商品」ではなく「命」として扱っていただく為にも、
          <span style="font-family: 'Corben', cursive;">jimopet</span>では譲渡は全て地元で無料にて行います。一般家庭から飼育放棄されたり、ペットショップで殺されるペットが少しでもなくなるよう、このサイトを活用していただけると幸いです。</p><br>
          <% if logged_in? %>
            <div class="row">
              <div class="col-md-3 col-md-offset-3">
                <%= link_to pets_path, class: 'btn btn-primary rounded-pill btn-block' do %><!--btn-blockで横幅いっぱい-->
                  <i class="fas fa-paw"> ペット一覧</i>
                <% end %>
              </div>
              <div class="col-md-3">
                <%= link_to pets_new_path, class: 'btn btn-primary rounded-pill btn-block' do %>
                  <i class="fas fa-paw"> ペット投稿</i>
                <% end %>
              </div>
            </div>
          <% else%>
            <div class="row">
              <div class="col-md-3 col-md-offset-3">
                <%= link_to new_user_path, class: 'btn btn-primary rounded-pill btn-block' do %>
                  <i class="fas fa-paw"> 登　　録</i>
                <% end %>
              </div>
              <div class="col-md-3">
                <%= link_to login_path, class: 'btn btn-primary rounded-pill btn-block' do %>
                  <i class="fas fa-paw"> ログイン</i>
                <% end %>
              </div>
            </div>
          <% end %>
    </div>
  </div>
</div>
