<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">jimopet</h1>
    <h4 class="text-white">〜地元でペットの譲渡をしませんか？〜</h4>
     <p class="text-white">ペットに赤ちゃんができて誰かに譲りたい！</br>ペットがほしい！</br>そんな双方の希望を叶えるマッチングサイトです！！</p>
　   <div class="row">
      <div class="col-md-offset-4 col-md-2">
        <%= link_to new_user_path, class: 'btn btn-primary rounded-pill btn-block purupuru' do %>
        <i class="fas fa-paw"> 登　　録</i>
        <% end %>
      </div>
      <div class="col-md-2">
        <%= link_to login_path, class: 'btn btn-primary rounded-pill btn-block purupuru' do %>
        <i class="fas fa-paw"> ログイン</i>
        <% end %>
      </div>
    </div>
  </div>
</div>
