/*pages/index*/
.top-hero-wrapper {
 
  height: 100vh;
  width: 100vw;
  background-image: url('IMG_3355 3.JPG');
  background-attachment: fixed;
  background-size: cover;
}

.text-white {
  color: #fff;
  font-family: 'Corben', cursive;
}

.top-hero-container {
  padding-top: 200px;
  
  h1 {
    font-size: 70px;
  }
  
  h4 {
    margin-top: 20px;  
    margin-bottom: 60px;
    font-family: 'Kosugi Maru', sans-serif;
  }
  
  p {
    font-family: 'Kosugi Maru', sans-serif;
  }
}

/*user/new(新規登録)*/
.users-new-wrapper {
 width: 100vw;
 height: 100vh;
 background-image: url('IMG_3355 3.JPG');
 background-attachment: fixed;
 background-size: cover;
 
 .users-new-container {
   padding-top: 120px;
   
   h1 {
     padding-bottom: 30px;
   }
 }
 
 .form-group {
   margin-bottom: 20px;
 }
 
 .btn-primary {
   margin-left: 8px;
 }
}

.text {
   font-family: 'Kosugi Maru', sans-serif;
   color: #fff;
}
/*登録のフィードバック*/ 
.alert {
  position: fixed;
  width: 100%;
  z-index: 10000;
}
/*ナビゲーションバー*/
.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  
  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
  
  .nav-text {
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Kosugi Maru', sans-serif;
  }
  
  .nav-text2 {
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Kosugi Maru', sans-serif;
    
  }
}
/*aboutページ*/
.jumbotron {
   /*background-color: rgba(0,0,0,0.8);*/
   
   h1 {
     font-family: 'Corben', cursive;
     font-size: 50px;
   }
}
/*aboutページ*/ 
.top-about-container {
  padding-top: 150px;
  
  p {
    font-family: 'Kosugi Maru', sans-serif;
    padding-top: 20px;
    font-size: 18px;
  }
}