
/*pages/index*/
.top-hero-wrapper {
 
  height: 100vh;
  width: 100vw;
  background-image: url('IMG_3355 3.JPG');
  background-attachment: fixed;
  background-size: cover;
}

.text-white {
  color: #fff;
  font-family: 'Corben', cursive;
}

.top-hero-container {
  padding-top: 200px;
  
  h1 {
    font-size: 70px;
    text-shadow: 0px 3px 0px #b2a98f,
               0px 14px 10px rgba(0,0,0,0.15),
               0px 24px 2px rgba(0,0,0,0.1),
               0px 34px 30px rgba(0,0,0,0.1);
  }
  
  h4 {
    margin-top: 20px;  
    margin-bottom: 60px;
    font-family: 'Kosugi Maru', sans-serif;
  }
  
  p {
    font-family: 'Kosugi Maru', sans-serif;
  }
}

/*user/new(新規登録)*/
.users-new-wrapper {
 width: 100vw;
 height: 100vh;
 background-image: url('IMG_3355 3.JPG');
 background-attachment: fixed;
 background-size: cover;
 
 .users-new-container {
   padding-top: 120px;
   
   h1 {
     padding-bottom: 30px;
     text-shadow: 0px 3px 0px #b2a98f,
               0px 14px 10px rgba(0,0,0,0.15),
   }
 }
 
 .form-group {
   margin-bottom: 20px;
 }
 
 .btn-primary {
   margin-left: 8px;
 }
}

.text {
   font-family: 'Kosugi Maru', sans-serif;
   color: #fff;
}
/*登録のフィードバック*/ 
.alert {
  position: fixed;
  width: 100%;
  z-index: 10000;
}
/*ナビゲーションバー*/
.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  text-shadow: 2px 2px 0px #B2A98F;
  
  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
  
  .nav-text {
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Kosugi Maru', sans-serif;
    
  }
  
  .nav-text2 {
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Corben', cursive, 'Kosugi Maru', sans-serif;
    
  }
}
/*aboutページ*/
.jumbotron {
   /*background-color: rgba(0,0,0,0.8);*/
   
   h1 {
     font-family: 'Corben', cursive;
     font-size: 50px;
   }
}

.top-about-container {
  padding-top: 140px;
  
  p {
    font-family: 'Kosugi Maru', sans-serif;
    padding-top: 20px;
    font-size: 18px;
  }
}
/*投稿*/
.pet-container {
   padding-top: 120px;
   
   h1 {
     padding-bottom: 30px;
     text-shadow: 0px 3px 0px #b2a98f,
               0px 14px 10px rgba(0,0,0,0.15),
  }
}
/*ペット一覧*/
.pet-index-wrapper{
  padding-top: 70px;
  
  .pet-index-single{
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
  }
    
    .pet-author {
      padding-right: 20px;
      padding-left: 20px;
  }
  
  .pet-text {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }
}
.pet-container2 {
  padding-top: 30px;
  padding-right: 120px;
}